# Trabalho Sistemas Distribuidos
# Disponível em: https://github.com/ArthurBoth/Tpratico_FundamentosDeSistemasParalelosEDistribuidos_2023
TrabalhoSistemasDistribuidos

# Trabalho Sistemas Paralelos
# Parte 1 Disponível em: https://github.com/mateuscacabuenaPUCRS/FundamentosProcessamentoParaleloDistribuido/blob/main/ExercicioAvaliativo/ExercicioPratico2/TempoAchaPrimos.go
# Parte 2 Disponível em: https://github.com/carolinaferreiraPUCRS/FPPD/tree/main/TrabalhoSistemasParalelos
TrabalhoSistemasParalelos